*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
body{
    background-color: rgb(228, 220, 211);
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit{
    padding: 1rem 2rem;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.popup{
    width: 400px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    visibility: hidden;
    transition: transform .3s,top .3s;
}
.open-popup{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
    top: 50%;
}

.popup img{
    width: 100px;
    margin-top: -100px;
}

.popup h2{
    margin: 5rem 0 0.2rem;
}

.popup p{
    margin-bottom: 5rem;
}

#ok{
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 550;
    background: rgba(137, 249, 24, 0.804);
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
}